:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #f6f6f6;
  background-color: #14161f;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(circle at top right, #2b2d31 0%, #1e1f22 65%);
}

#root {
  width: 100%;
  height: 100%;
}

h2 {
  margin-top: 0;
  border-bottom: 1px solid #3a3c43;
  padding-bottom: 10px;
  margin-bottom: 14px;
}

button {
  font-family: inherit;
}
